/* Container styles */
.toggle-container {
  top: 2em;
  right: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hide the default checkbox */
.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Label styles */
.toggle + label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--primary-text-color);
  position: relative;
}

/* Slider styles */
.toggle + label::before {
  content: '';
  height: 1.1em;
  width: 2.1em;
  border-radius: 1em;
  background-color: #1f2e3e !important;
  margin-right: 0.5em;
  transition: background-color 450ms ease-in-out;
}

/* Slider knob styles */
.toggle + label::after {
  content: '';
  height: 0.9em;
  width: 0.9em;
  border-radius: 50%;
  background-color: var(--toggle-fg);
  position: absolute;
  left: 0.1em;
  top: 0.1em;
  transition: transform 450ms ease-in-out;
}

/* Move the slider knob when checked */
.toggle:checked + label::before {
  background-color: var(--toggle-bg-checked) !important;
}

.toggle:checked + label::after {
  transform: translateX(1em);
}
